:root{
  --background-color: #E2E2E2;
  --header-background-color: #0A2463;
  --header-color: #e2e2e2;
}

* {
  padding: 0;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
}

header {
  background-color: var(--header-background-color);
  color: var(--header-color);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.login-button {
  padding: 6px 10px;
  border: 1px solid #605F5E;
  border-radius: 10px;
  align-items: center;
  justify-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5); /* dim background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* sit above other content */
}
.modal {
  background: var(--background-color);
  padding: 2rem;
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
}
