:root {
  --dark-grey: #605F5E;
  --light-grey: #E2E2E2;
  --dark-blue: #0A2463;
  --light-blue: #247BA0;
  --light-red: #FB3640;
  --black: #000000;
  --white: #ffffff;
  --transparent-black: rgba(0,0,0,0.5);
}

:root {
  --background-color: var(--white);
  --header-background-color: var(--dark-blue);
  --header-color: var(--light-grey);
  --border-color: var(--dark-grey);
  --overlay-background-color: var(--transparent-black);
  --navbar-background-color: var(--light-blue);
  --text-color: var(--white);
}

* {
  padding: 0;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
}

.inria-sans-light {
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.inria-sans-regular {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inria-sans-bold {
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.inria-sans-light-italic {
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.inria-sans-regular-italic {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.inria-sans-bold-italic {
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}


header {
  background-color: var(--header-background-color);
  color: var(--header-color);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  .login-button {
    padding: 6px 10px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    align-items: center;
    justify-items: center;
  }
}

.flex {
  display: flex;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

nav {
  padding: 20px;
  background-color: var(--navbar-background-color);
  border-right: 1px solid var(--border-color);
  height: 100vw;
  color: var(--text-color);
  button {
    margin-top: 10px;
    background-color: var(--navbar-background-color);
    border: none;
    color: var(--text-color);
  }
}

main {
  flex-grow: 3;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay-background-color); /* dim background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* sit above other content */
}
.modal {
  background: var(--background-color);
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
  padding: 20px;
  form {
    > h3 {
      margin-top: 15px;
    }
    > input {
      width: 100%;
      margin-top: 5px;
      font-size: 16px;
    }
    > .password-button {
      margin-top: 10px;
      padding: 5px;
      background-color: var(--light-grey);
      color: var(--black);
      border: none;
      border-radius: 5px;
      font-size: 14px;
    }
    > .password-button:hover {
      background-color: var(--dark-grey);
      color: var(--white);
    }
    > .submit-button {
      margin-top: 20px;
      padding: 10px;
      background-color: var(--light-blue);
      color: var(--white);
      border: none;
      border-radius: 5px;
      font-size: 16px;
    }
    > .submit-button:hover {
      background-color: var(--dark-blue);
    }
  }
}
