:root {
  --dark-grey: #605F5E;
  --light-grey: #E2E2E2;
  --very-light-grey: #F7F7F7;
  --dark-blue: #0A2463;
  --light-blue: #247BA0;
  --light-red: #FB3640;
  --very-light-red: #fd4650;
  --black: #000000;
  --white: #ffffff;
  --transparent-black: rgba(0,0,0,0.5);
}

:root {
  --background-color: var(--white);
  --header-background-color: var(--dark-blue);
  --header-color: var(--light-grey);
  --border-color: var(--dark-grey);
  --overlay-background-color: var(--transparent-black);
  --navbar-background-color: var(--light-blue);
  --navbar-button-hover-background-color: var(--dark-blue);
  --text-color: var(--white);
  --todo-list-background-color: var(--very-light-grey);
  --todo-list-title-color: var(--light-red);
  --checkbox-background-color: var(--white);
  --checkbox-border-color: var(--dark-grey);
  --checkbox-checked-color: var(--light-red);
  --checkbox-hover-color: var(--very-light-red);
  --checkbox-border-color: var(--light-red);
  --scrollbar-background-color: var(--light-blue);
  --scrollbar-color: var(--dark-blue);
}

* {
  padding: 0;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
}

.inria-sans-light {
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.inria-sans-regular {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inria-sans-bold {
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.inria-sans-light-italic {
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.inria-sans-regular-italic {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.inria-sans-bold-italic {
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}


header {
  background-color: var(--header-background-color);
  color: var(--header-color);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  > h1 {
    font-size: 50px;
  }
  .login-button {
    padding: 6px 10px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    align-content: center;
    justify-items: center;
    font-size: 25px;
  }
}

.flex {
  display: flex;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

nav {
  padding: 20px;
  background-color: var(--navbar-background-color);
  border-right: 1px solid var(--border-color);
  height: calc(100vh - 84px);
  width: 20vw;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  h2 {
    font-size: 30px;
    justify-self: center;
    flex-shrink: 0;
  }
  hr {
    flex-shrink: 0;
  }
  .lists-container {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 10px;
    > button {
    margin-top: 10px;
    background-color: var(--navbar-background-color);
    border: none;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    }
  }
  .lists-container::-webkit-scrollbar {
    width: 10px;
  }
  .lists-container::-webkit-scrollbar-track {
    background: var(--scrollbar-background-color);
    border-radius: 5px;
  }
  .lists-container::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    border-radius: 5px;
  }
  > button {
    flex-shrink: 0;
    margin-top: 10px;
    background-color: var(--navbar-background-color);
    border: none;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: auto;
  }
  > button:hover {
    background-color: var(--navbar-button-hover-background-color);
  }
}

main {
  flex-grow: 3;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay-background-color); /* dim background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* sit above other content */
}
.modal {
  background: var(--background-color);
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
  padding: 20px;
  form {
    > h3 {
      margin-top: 15px;
    }
    > input {
      width: 100%;
      margin-top: 5px;
      font-size: 16px;
    }
    > .password-button {
      margin-top: 10px;
      padding: 5px;
      background-color: var(--light-grey);
      color: var(--black);
      border: none;
      border-radius: 5px;
      font-size: 14px;
    }
    > .password-button:hover {
      background-color: var(--dark-grey);
      color: var(--white);
    }
    > .submit-button {
      margin-top: 20px;
      padding: 10px;
      background-color: var(--light-blue);
      color: var(--white);
      border: none;
      border-radius: 5px;
      font-size: 16px;
    }
    > .submit-button:hover {
      background-color: var(--dark-blue);
    }
  }
}

.todo-list {
  padding: 20px;
  > .editable-title {
    font-size: 30px;
    width: 100%;
    border: none;
    background: transparent;
    color: var(--todo-list-title-color);
  }
  > h3 {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 25px;
  }
  > ul {
    list-style-type: none;
    margin-bottom: 10px;
    > li {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      padding: 4px 8px;
      border: 1px solid var(--border-color);
      border-radius: 7px;
      background-color: var(--todo-list-background-color);
      cursor: pointer;
      position: relative;
      > input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 25px;
        width: 25px;
        z-index: 2;
      }
      > span {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        border: 2px solid var(--checkbox-border-color);
        display: inline-block;
        margin-right: 10px;
        background-color: var(--checkbox-background-color);
        pointer-events: none;
      }
      > input[type="checkbox"]:checked + span {
        background-color: var(--checkbox-checked-color);
      }
      > .editable-task {
        margin-left: 10px;
        font-size: 18px;
        width: 100%;
        border: none;
        background: transparent;
      }
      &:hover {
        > input ~ span {
          background-color: var(--checkbox-hover-color);
        }
        > input:checked ~ span {
          background-color: var(--checkbox-checked-color);
        }
      }
    }
  }
}